$color_texto: #eee;
$color_texto_hover:#fff;
$color_background:#666;
$color_background_hover:#888;

@mixin set_colores_normales {
    color: $color_texto;
    background-color: $color_background;
}

@mixin set_colores_hover {
    color: $color_texto_hover;
    background-color: $color_background_hover;
}

@mixin set_box-sizing($valor){
    -webkit-box-sizing: $valor;
    -moz-box-sizing: $valor;
    box-sizing: $valor;
}

@mixin transicion($property,$duration,$timing:linear) {
    -webkit-transition:$property $duration $timing;
    -moz-transition:$property $duration $timing;
    transition:$property $duration $timing;
}

@mixin animacion($name,$duration,$timing:linear) {
    -webkit-animation:$name $duration $timing;
    -moz-animation:$name $duration $timing;
    animation:$name $duration $timing;
}

@keyframes iluminar {
    from {
        @include set_colores_normales;
    }
    to {
        @include set_colores_hover;
    }
}

body {
    padding: 0px;
    margin: 0px;
}
header {
    padding: 12px 30px;
    font-size: 1.8em;
    color: #444;
    background-color: #eee;
    font-weight: bold;
    text-shadow: 1px 1px 2px #aaa;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    @include set_colores_normales;
    @include set_box-sizing(border-box);
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 5px;
}
@import "menu";

