body {
    font-family: sans-serif;
    background-color: #267352;
    font-size: 125%;
}
h1 {
    text-align:left;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: #000000 5px 5px;
}
p {
    text-align: justify;
}
.intro {
    background-color: #ffffff;
    border: #000000 solid 10px;
    border-radius: 30px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 20px;
}
.estilo-1 {
    margin-right: 50%;
    border: #802400 solid 20px;
    border-radius: 20px 0px 0px 20px;
    padding: 10px;
    background-color: #AC5A39;
    color: #ffffff;
}
.estilo-2 {
    margin-left: 50%;
    border: #804800 solid 15px;
    border-radius: 0px 20px 20px 0px;
    padding: 5px;
    background-color: #AC7A39;
    color: #ffffff;
}
.estilo-3 {
    margin-left: 25%;
    margin-right: 25%;
    border: #3978AC dashed 5px;
    padding: 20px;
    background-color: #004680;
    color: #ffffff;
}