body {
    background-color: #C4C6B9;
    font-family: sans-serif;
    font-size: 1.5rem;
    text-align: justify;
}

h1 {
    color: #161669;
    font-weight: 900;
    letter-spacing: 50px;
    text-align: right;
    text-transform: uppercase;
}

h2 {
    clear: both;
    background-color: #5D6336;
    color: #ffffff;
}

.centrado {
    text-align: center;
}

.izquierda {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.derecha {
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

strong {
    font-style: oblique;
}

address {
    clear: both;
    font-size: 80%;
}