/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
    font-family: sans-serif;
}
div {
    width: 240px;
    height: 240px;
    display: inline-block;
    margin: 20px;
    background-color: #30B037;
}
div p {
    text-align: center;
    margin-top: 40%;
    margin-bottom: 40%;
    color: white;
}
#c1:hover {
    background-color: #C0392B;
}
#c2:hover {
    background-color: #9B59B6;
}
#c3:hover {
    background-color: #2980B9;
}
#c4:hover {
    background-color: #3498DB;
}
#c5:hover {
    background-color: #17A589;
}
#c6:hover {
    background-color: #F1C40F;
}
#c7:hover {
    background-color: #E67E22;
}
#c8:hover {
    background-color: #95A5A6;
}
#c9:hover {
    background-color: #2C3E50;
}
#c10:hover {
    background-color: #000000;
}